/* Import de la police Gagalin */
@import url('https://fonts.googleapis.com/css2?family=Gagalin&display=swap');

/* Header */
#header {
    padding: 8em 0 0.1em 0;
}

#header .logo {
    display: block;
    border-bottom: 0;
    color: inherit;
    font-weight: 900;
    letter-spacing: 0.35em;
    margin: 0 0 2.5em 0;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}

#header .logo > * {
    display: inline-block;
    vertical-align: middle;
}

#header .logo .symbol {
    margin-right: 0.65em;
}

#header .logo .symbol img {
    display: block;
    width: 8em; /* Double la taille du logo */
    height: 8em; /* Assure que le logo est proportionné */
}

#header .logo .title {
    font-size: 4em; /* Augmente la taille du titre */
    font-family: 'Gagalin', cursive; /* Utilise la police Gagalin */
    font-weight: bold;
    margin-left: 10px; /* Espace entre le logo et le titre */
    color: #005b7a; /* Remplace par la couleur principale du logo */
    text-shadow: 2px 2px 4px #ffffff; /* Ajoute une ombre pour contraster */
}

/* Ajustement pour les appareils mobiles */
@media screen and (max-width: 736px) {
    #header {
        padding: 4em 0 0.1em 0;
    }

    #header .logo .symbol img {
        width: 6em; /* Taille ajustée pour mobile */
        height: 6em;
    }

    #header .logo .title {
        font-size: 3em; /* Taille ajustée pour mobile */
    }
}
